body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo del cuerpo para cubrir la pantalla completa. */
}

.hero{
    /* border: 5px solid red; */
    height: 25vh;
    background-color: #212529;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



#container-menu{
    border: 2px solid #212529; 
    background-color: #212529;
    margin-top: -40px;
}

#container-menu nav{
    padding-bottom: 0;
}



ul{
    display: flex;
    justify-content: center;
}

#container-menu ul .nav-link{
    color: white;
}

#container-menu ul a:hover{
    color: burlywood;
}


input:checked  ~ ul{
    display:none;
}

input {
    display: none;
}


label {
    visibility: hidden;
}

li {
    display: block;
    background:#212529 ;
    margin: 0;
    padding: 10px;
    list-style: none;
    
}

.btn{
    margin-bottom: 5px;
}

.button-container{
    text-align: center;
}

#header2 a{
    color: whitesmoke;   
}

#header2 a:hover{
    color: burlywood;   
}

#header2 .menuhamb{
    background-color: red;
}

#mi-nombre h1{
    color: aliceblue;
    border: double burlywood 5px;
    padding: 1rem 1rem;   
}

a{
    text-decoration: none;
}


 @keyframes slideText {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    .animated-text{
        font-size: 1.2rem;
        color: #fff;
        border: double burlywood 5px;
        padding: 2rem 1rem;
        text-align: center;
        white-space: nowrap; /* Para que el texto no se rompa en varias líneas */
        overflow: hidden; /* Para ocultar el texto que se desborda del contenedor */
        animation: slideText 2s linear; /* Aplicar la animación al texto */
      }










#mi-nombre span{
    color: whitesmoke;
}



.cards{
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-text1{
    text-align: left;
}

.card-body1{
    margin: 5%;
}


.card-body2{
    margin: 5%;
}

.card-body3{
    margin: 5%;
}



.card1{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 18rem
}
.card1vid{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 560px;
}

.card1:hover {
    transform: scale(1.1); /* Escala la tarjeta al 110% del tamaño original */
    background-color: #212529; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
  }
  .card2:hover {
    transform: scale(1.1); /* Escala la tarjeta al 110% del tamaño original */
    background-color: #212529; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
  }
  .card3:hover {
    transform: scale(1.1); /* Escala la tarjeta al 110% del tamaño original */
    background-color: #212529; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
  }



.card1 img{
    margin-right: 1rem;
    width: 18rem;
    height: 20rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.card2{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 18rem
}

.card2vid{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 560px;
}


.card2 img{
    margin-right: 1rem;
    width: 18rem;
    height: 20rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card3{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 18rem
}

.card3vid{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 560px;
}

.card3 img{
    margin-right: 1rem;
    width: 18rem;
    height: 20rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.video-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50vh; /* Ajusta la altura del contenedor al 100% del alto de la ventana */
}

.verherramientas:hover{
    color: #fff;
}

.verherramientas{
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #212529 ;
}

footer p{
    color:whitesmoke;
}

.divfootering{
        flex: 1;
        margin-top: 45rem;
}

.footering{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

@media only screen and (max-width: 1024px) and (min-width: 929px) {
    #footer{
        height: 270px;
    }

}


@media (max-width: 928px) {
    .card3{
        box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
        margin-right: 1rem;
        margin-top: 2rem;
    }
}

@media (max-width:875px){
    .card{
        margin-left: 2%;
    }
}


@media (max-width: 624px) {
    .card3{
        box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
        margin-right: 1rem;
        margin-top: 2rem;
    }

    .card2{
        box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
        margin-right: 1rem;
        margin-top: 2rem;
    }

    .card{
        box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.5);
        margin-right: 1rem;
        margin-top: 2rem;
    }
}


@media (max-width: 575px){
    .animated-text{
        border: none;
      }

      .hero{
        margin-bottom: 30px;
        
    }

    #container-menu ul .nav-link{
        color: white;
        display: flex;
        justify-content: center;
    }

    #container-menu ul a:hover{
        color: blue;
    }
    

    ul{
        display: none;
    }
    
    input:checked  ~ ul{
        display:block;
    }
    
    input {
        display: none;
    }
    
    
    label {
        color: burlywood;
        visibility: visible;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid burlywood;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    
    li {
        display: block;
        background: burlywood;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }
}


@media (max-width: 280px) {
    .card3 img{
        margin: 0;
    }

    .card2 img{
        margin: 0;
    }

    .card1 img{
        margin: 0;
    }


}


