body{
    background-color: burlywood;
}

.hero{
    /* border: 5px solid red; */
    height: 25vh;
    background-color: #212529;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header2 a{
    color: whitesmoke;   
}

#header2 a:hover{
    color: lightseagreen;   
}

#mi-nombre h1{
    color: aliceblue;
    border: double burlywood 5px;
    padding: 1rem 1rem;
    
}

#mi-nombre span{
    color: whitesmoke;
}

.cards{
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    justify-content: space-evenly;
    
}

footer {
    background-color: #212529 ;
  }

footer p{
    color:whitesmoke;
}

@media (max-width: 1024px) {
    footer{
        height: 150px;
    }
    .card2{
        
    }
}

